*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}
body{
    background-color: rgba(0,0,0,.8);
    color: rgba(241, 241, 241, 0.8);
}
.container{
    width: 80vw;
    height: 100vh;
    margin: 2rem auto;
    background-color: rgba(43, 44, 44, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
}
.container h2{
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
}
.container .formulario-datos{
    display: block;
    width: 50%;
    padding: 0rem 3rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}
.formulario-datos input, .formulario-datos button{
    margin-top: 2rem;
    line-height: 3rem;
    border: 0;
    outline: 0;
}
.formulario-datos input{
    padding-left: 2rem;
    padding-bottom: .5rem;
    background:none;
    color: white;
    border-bottom: 2px solid white;
    font-size: 2rem;
}
.formulario-datos input:focus{
    border-bottom: 2px solid dodgerblue;
}
.formulario-datos button{
    background-color: rgba(93, 144, 35, 0.8);
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
}
.lista-contactos{
    display: block;
    width: 50%;
    margin: 1rem auto;
    padding:0rem 3rem;
}
.contacto{
    margin: 2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
.contacto h3, p{
    font-size: 2rem;
}
.i-borrar{
    font-size: 36dp;
    color: rgba(235, 76, 76, 0.8);
    cursor: pointer;
}
.alerta{
    display: block;
    background-color: tomato;
    font-size: 2rem;
    border-radius: 5px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 3rem;
}