body{
    background-color: rgba(5,5,5,.8);
    color: rgba(210,210,210,.7);
}
.container{
    width: 70vw;
    height: 100vh;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reloj-container{
    height: 100px;
    width: 100%;
    background-color: rgba(5,5,5,.4);
    font-weight: bold;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .8s;
    
}
.reloj-container:hover{
    transform: scale(1.2);
}
